body {
    background-color: #A7A29A;
}

h1 {
    text-align: center;
    text-decoration: underline;
    border-radius: 2%;
    background-size: 50% auto;
    width: 100%;
    height: 250%;
    color: black;
}

.list {
    background-color: rgba(102,92,92, 0.3);
    margin-right: auto;  
    background-size: 80% auto;
    max-width: 18%;
    border-radius: 5%;
}

.code {
    background-color: rgb(52,28,28);
    border: solid;
    border-color: rgb(0,0,0);
    max-width: fit-content;
    margin-right: auto;
    background-size: 80% auto;
    color: white;
    max-height: fit-content;
    display: block;
    margin-bottom: -9px;
}

.anchor {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: fit-content;
    max-height: fit-content;
    display: inline-block;
    border: solid;
    border-color:rgba(0, 0, 0, 0.8);
    padding: 5px;
    text-decoration: none;
    margin-top: -10px;
    margin-bottom: 48px;
}

.anchor:hover {
   background-color: rgba(0, 0, 0, 0.116);
}

#code {
    max-width: 20%;
    float: right;
    position: relative;
    display: block;
    margin: 0 auto;
    height: auto;
    margin-right: 100px;
    border: solid;
    border: thin;
}

h2 {
    border: dotted;
    max-width: fit-content;
    padding: 1px;
    border-color: #888888;
}

.sintax {
    background-color: rgb(52,28,28);
    border: solid;
    border-color: rgb(0,0,0);
    max-width: 24%;
    margin-right: auto;
    background-size: 80% auto;
    color: white;
    display: block;
}

.values {
    background-color: rgb(189, 183, 184);
    border: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: fit-content;
    margin-left: 5px;
    margin-bottom: 100px;
}

.values th {
    text-decoration: underline;
    margin: 20px;
    padding: 8px;
    border: solid;
    background-color: darkgrey;
}

.values td {
    border-spacing: 5px 5px;
    border: solid;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(59, 56, 56);
    color: white;
    text-align: center;
    display: inline;
  }

  .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  .li {
    float: left;
  }
  
  .li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  .li a:hover {
    background-color: #111111;
  }

  .def {
    position: relative;
    margin-top: -2px;
    margin-bottom: -9px;
  }

  #foot {
    margin-top: 90px;
    margin-left: 214px;
  }

  #css {
    margin-left: 214px;
  }

  #sasa {
    margin-top: -6px;
    margin-bottom: 42px;
  }

#l3 {
    margin-bottom: -13px;
}